export(rls_update)
export(rls_fit)
export(rls_glm_update)
export(rls_glm_fit)
export(isgd_update)
export(isgd_fit)
export(conv_path)
export(surv_to_pe)
export(pe_cox_fit)
export(pe_cox_update)
S3method(print, stream_fit)
S3method(coef, stream_fit)
S3method(nobs, stream_fit)
S3method(vcov, stream_fit)
S3method(confint, stream_fit)
S3method(summary, stream_fit)
S3method(print, summary.stream_fit)
S3method(plot, stream_fit)
S3method(predict, stream_fit)
S3method(update, stream_fit)
importFrom(stats,gaussian)
importFrom(stats,nobs)
importFrom(stats,vcov)
importFrom(stats,confint)
importFrom(stats,pnorm)
importFrom(stats,qnorm)
importFrom(stats,pt)
importFrom(stats,qt)
importFrom(stats,printCoefmat)
importFrom(stats,coef)
importFrom(stats,update)
importFrom(stats,poisson)
